<%- include header %>
<ul style="list-style:none">
<li><h3><a href="https://fcbayern.com/de">FC Bayern Munchen</a></h3>拜仁慕尼黑官方网站</li><br/>
<li><h3><a href="http://nightwish.com/en">Nightwish</a></h3>夜愿官方网站</li>
</ul>
<%- include footer %>
